<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taomake.teabuddy">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk tools:overrideLibrary="com.example.ti.ble.sensortag"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!--JPUSH******************* Optional for location -->

    <!-- Required -->
    <permission
        android:name="com.taomake.teabuddy.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.taomake.teabuddy.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 保持屏幕亮起权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <!--JPUSH******************* Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <!--JPUSH******************* Optional for location -->



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!---qr code  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:name="com.taomake.teabuddy.base.MainApp"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name="com.taomake.teabuddy.activity.WelcomeActivity_"
            android:screenOrientation="portrait"

            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taomake.teabuddy.activity.LoadingActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.taomake.teabuddy.activity.MainActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:screenOrientation="portrait" />

        <activity
            android:name="com.taomake.teabuddy.activity.WebViewActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:screenOrientation="portrait" />

        <activity
            android:name="com.taomake.teabuddy.activity.LoginActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:screenOrientation="portrait" />


        <activity
            android:name="com.taomake.teabuddy.activity.WebviewCommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:screenOrientation="portrait" />


        <activity
            android:name="com.taomake.teabuddy.activity.WebviewVrActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.BeginRecordActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>


        <activity
            android:name="com.taomake.teabuddy.activity.MyCreateRecordsActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.MyCollectRecordsActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />


            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />


            <data
                android:host="downloadVoiceFile"
                android:scheme="teabuddy188" />
        </intent-filter>


        </activity>




        <activity
            android:name="com.taomake.teabuddy.activity.ChooseTeaActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.ControlTeaActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.ControlTeaUpdateActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.MineSortListActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.MineAppsettingActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.DeviceManagerActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.SetAboutUsActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.DeviceUpdateTwoActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.DeviceUpdateThreeActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.DeviceUpdateActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.ReadmeActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.DeviceSecondCodeActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>



        <activity
            android:name="com.taomake.teabuddy.activity.SetBackIdeaActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.SetOnlineDebugActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.SetOnlineDebugTwoActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
           />



        <activity
            android:name="com.taomake.teabuddy.activity.LoginByphoneActivity_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.UpdateRecordActivity_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>
        <activity
            android:name="com.taomake.teabuddy.activity.MyGFRecordsActivity_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name="com.taomake.teabuddy.activity.MineRemindsettingActivity_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>


        <activity
            android:name="com.taomake.teabuddy.activity.SecondQrCode"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>


        <activity
            android:name="com.taomake.teabuddy.activity.MineMessageListActivity_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>


        <activity
            android:name=".sensoractivity.DeviceActivityTea"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>

        <activity
            android:name=".sensoractivity.FwUpdateActivityTea"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>



        <activity
            android:name="com.taomake.teabuddy.activity.SecondQrCodeAddDevice_"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>


        <activity
            android:name="com.taomake.teabuddy.activity.PermissionActivity"
            android:screenOrientation="portrait"

            android:configChanges="keyboard|screenSize|orientation|layoutDirection"/>



        <!--JPUSH************************************************************************-->


        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.taomake.teabuddy" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.taomake.teabuddy" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.taomake.teabuddy" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.taomake.teabuddy" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".receiver.TestActivity"
            android:screenOrientation="portrait" />


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="eae5b79c7e2b76b14d954813" /> <!--  </>值来自开发者平台取得的AppKey-->
        <!--JPUSH************************************************************************-->






        <service
            android:name="com.taomake.teabuddy.sensoractivity.BluetoothLeService"
            android:enabled="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true" />

        <activity
            android:name="com.example.ti.ble.sensortag.DeviceMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
        <activity
            android:name="com.example.ti.ble.sensortag.DeviceActivity"
            android:parentActivityName="DeviceMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.ti.ble.sensortag.FwUpdateActivity"
            android:parentActivityName="DeviceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"/>
        <activity
            android:name="com.example.ti.ble.sensortag.FwUpdateActivity_CC26xx"
            android:parentActivityName="DeviceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"/>
        <activity
            android:name="com.example.ti.ble.sensortag.FileActivity"
            android:parentActivityName="FwUpdateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.ti.ble.sensortag.PreferencesActivity"
            android:parentActivityName="DeviceActivity"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Preferences"/>
        <activity android:name="com.example.ti.ble.sensortag.fwSelectorView"
            android:parentActivityName="FwUpdateActivity_CC26xx"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"/>


        <!-- qq分享 -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这地方的123456需要用你在开放平台申请的appid替换 -->
                <data android:scheme="1105799749" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />





        <!--sina-->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

        <!--\sina-->


        <activity android:name=".activity.SinaActivity">
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <meta-data android:value="58f47e4145297d424b0007f1" android:name="UMENG_APPKEY"/>
        <meta-data android:value="teabuddy" android:name="UMENG_CHANNEL"/>


    </application>

</manifest>
